{{define "loadingscreen"}}
  <div id="loading-container" class="container-fluid" style="display: none;">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary vertical-center" role="status" style="width: 5rem; height: 5rem;">
        <span class="sr-only" style="color: white !important;">Loading...</span>
      </div>
    </div>
  </div>
{{end}}