{{define "sidebar"}}
  <div class="sidebar" id="sidebar-gradient">
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item sidebar-bottom">
          <a href="/">
            <i class="fas fa-server"></i>
            <p>Servers</p>
          </a>
        </li>
        <li class="nav-item sidebar-bottom" style="top: 60px">
          <a href="/whitelabel">
            <i class="fas fa-robot"></i>
            <p>Whitelabel</p>
          </a>
        </li>

        <li class="nav-item sidebar-bottom" style="bottom: 60px">
          <a href="/logout" onclick="clearLocalStorage();">
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
        <li class="nav-item sidebar-bottom" style="bottom: 10px">
          <a href="#">
            <i id="avatar-sidebar"></i>
            <p>{{.name}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
{{end}}