{{define "sidebar"}}
  <div class="csidebar" id="sidebar-gradient">
    <div class="sidebar-container" id="sidebar-nav">
      <div class="sidebar-element">
        <a href="/">
          <i class="fas fa-server sidebar-icon"></i>
          <span class="sidebar-text">Servers</span>
        </a>
      </div>
      <div class="sidebar-element">
        <a href="/whitelabel">
          <i class="fas fa-edit sidebar-icon"></i>
          <span class="sidebar-text">Whitelabel</span>
        </a>
      </div>

      {{if .referralShow}}
        <div class="sidebar-element">
          <a href="{{.referralLink}}" style="justify-content: center; padding: 10px 0 10px 0 !important; margin: 0 !important;">
            <img src="/assets/img/custom.png" id="custom-image" />
          </a>
        </div>
      {{end}}
    </div>
    <div class="sidebar-container" style="margin-bottom: 2%">
      <div class="sidebar-element">
        <a href="/logout" onclick="clearLocalStorage();">
          <i class="sidebar-icon fas fa-sign-out-alt sidebar-icon"></i>
          <span class="sidebar-text">Logout</span>
        </a>
      </div>
      <div class="sidebar-element">
        <a>
          <i id="avatar-sidebar"></i>
          <span class="sidebar-text">{{.name}}</span>
        </a>
      </div>
    </div>
  </div>
{{end}}