{{define "substitutions"}}
  <div class="modal fade" id="modal-substitutions" tabindex="-1" role="dialog" aria-labelledby="modal-substitutions" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><b>Variables</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <code>%user%</code> - Mention the user
          <br>
          <code>%username%</code> - The user's name
          <br>
          <code>%ticket_id%</code> - The ticket's numeric ID
          <br>
          <code>%open_tickets%</code> - The amount of open tickets the server has
          <br>
          <code>%total_tickets%</code> - The amount of tickets that have ever been opened in the server
          <br>
          <code>%user_open_tickets%</code> - The amount of open tickets the user has in the server
          <br>
          <code>%ticket_limit%</code> - The per user ticket limit
          <br>
          <code>%channel%</code> - Mention the channel
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-fill" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{{end}}