[server]
host="0.0.0.0:3000"
baseUrl="http://localhost:3000"
mainSite="https://ticketsbot.net"
  [server.ratelimit]
  window=10
  max=600
  [server.session]
  threads=10
  secret="secret"

[oauth]
id=
secret=""
redirectUri=""

[mariadb]
host="127.0.0.1"
username="ryan"
password="ryan"
database="tickets"
threads=5

[bot]
token=""

[redis]
host="127.0.0.1"
port=6379
password=""
