admins=["217617036749176833"]

[server]
host="0.0.0.0:3000"
baseUrl="http://localhost:3000"
mainSite="https://ticketsbot.net"
  [server.ratelimit]
  window=10
  max=600
  [server.session]
  threads=10
  secret="secret"

[oauth]
id=
secret=""
redirectUri=""

[database]
uri="postgres://user:pwd@localhost:5432/database?pool_max_conns=10"

[bot]
token=""
premium-lookup-proxy-url="http://localhost:3000"
premium-lookup-proxy-key=""

[redis]
host="127.0.0.1"
port=6379
password=""
threads=5

[cache]
uri="postgres://pwd:user@localhost:5432/db"
