<!DOCTYPE html>
<html>
  <head>
    <title>Tickets | A Discord Support Manager Bot</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management panel for the Discord Tickets bot">

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans',sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }
    </style>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-4">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{mainsite}}">Main Site</a></li>
          <li><a href="/">Servers</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/logout">Logout</a></li>
          <li><a href="#">Hi, {{name}}</a></li>
        </ul>
      </div>
    </nav>
    {{{content}}}
  </body>
</html>
