<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body>
    <div class="wrapper">
      {{template "sidebar" .}}
      <div class="super-container">
        {{template "loadingscreen" .}}
        <script src="/assets/js/modalbackdrop.js"></script>
        {{template "notifymodal" .}}
        <div class="content-container">
          {{template "content" .}}
        </div>
      </div>
    </div>
  </body>
</html>
