<!DOCTYPE html>
<html>
  <head>
    {{template "head" .}}
  </head>
  <body>
    {{template "sidebar" .}}
    <!--{{template "loadingscreen" .}}
    <script src="/assets/js/modalbackdrop.js"></script>
    {{template "notifymodal" .}}
    {{template "content" .}}-->
  </body>
</html>
