<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    <div class="wrapper">
      <div class="main-panel" style="width: 100% !important;">
        {{template "navbar" .}}
        {{template "loadingscreen" .}}

        <script src="/assets/js/modalbackdrop.js"></script>
        {{template "notifymodal" .}}

        {{template "content" .}}
      </div>
    </div>
  </body>
</html>
