<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    <div class="wrapper">
      {{template "substitutions" .}} <!-- Has to be here for some reason -->
      <div class="main-panel" style="width: 100% !important;">
        {{template "navbar" .}}
        {{template "content" .}}
      </div>
    </div>
  </body>
</html>
