<!DOCTYPE html>
<html>
  <head>
    <title>Tickets | A Discord Support Manager Bot</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management panel for the Discord Tickets bot">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <style>
      body {
        font-family: 'Open Sans',sans-serif !important;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }

      .sidebar {
        background: url("/assets/img/sidebar-2.jpg");
        background-size: cover;
        overflow-x: hidden !important;
      }

      .sidebar-bottom {
        position: absolute !important;
        width: 100%;
      }

      .avatar {
        background: url("{{avatar}}?size=32");
        width: 28px;
        height: 29px;
        display: block;
        background-size: cover;
        border-radius: 50%;
      }

      .nav-link {
        color: white !important;
      }

      .filterCard {
        cursor: pointer;
      }

      .table td, .table th {
        text-align: center;
      }
    </style>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Discord theme -->
    <link href="/assets/css/discordmock.css" rel="stylesheet"/>


    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="orange" data-image="/assets/img/sidebar-2.jpg">
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="https://ticketsbot.net" class="simple-text">
              TicketsBot
            </a>
          </div>

          <ul class="nav">
            <li class="nav-item sidebar-bottom">
              <a href="/">
                <i class="fas fa-server"></i>
                <p>Servers</p>
              </a>
            </li>

            <li class="nav-item sidebar-bottom" style="bottom: 60px">
              <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <p>Logout</p>
              </a>
            </li>
            <li class="nav-item sidebar-bottom" style="bottom: 10px">
              <a href="#">
                <i class="avatar"></i>
                <p>{{name}}</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/manage/{{guildId}}/settings">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/{{guildId}}/logs/page/1">Logs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/{{guildId}}/blacklist">Blacklist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage/{{guildId}}/tickets">Ticket List</a>
              </li>
            </ul>
          </div>
        </nav>

        {{{content}}}
      </div>
    </div>
  </body>
</html>
