@font-face{font-family:Whitney;font-style:light;font-weight:300;src:url('https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff') format('woff')}
@font-face{font-family:Whitney;font-style:normal;font-weight:500;src:url('https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff') format('woff')}
@font-face{font-family:Whitney;font-style:medium;font-weight:600;src:url('https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff') format('woff')}
@font-face{font-family:WhitneyMedium;font-style:medium;font-weight:600;src:url('https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff') format('woff')}
@font-face{font-family:Whitney;font-style:bold;font-weight:700;src:url('https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff') format('woff')}

html {
    overflow-y: hidden;
}

.discord-container {
    background-color: #2e3136;
    border-radius: 4px;
    height: 80vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Whitney', sans-serif !important;
}

.channel-header {
    background-color: #1e2124;
    height: 5vh;
    width: 100%;
    border-radius: 4px 4px 0 0;
    position: relative;

    text-align: center;
    display: flex;
    align-items: center;
}

.channel-name {
    color: white;
    padding-left: 20px;
}

#message-container {
    height: 70vh;
    max-height: 70vh;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.message {
    color: white !important;
    padding-left: 20px;
}

.message-input {
    padding-top: 20px !important;
    border-color: #2e3136 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color: #2e3136 !important;
    color: white !important;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.form-control:focus {
    border-color: #2e3136 !important;
    background-color: #2e3136 !important;
    color: white !important;
}

.message-input:focus {
    border-color: #2e3136 !important;
    background-color: #2e3136 !important;
    color: white !important;
}
