body {
    font-family: 'Open Sans',sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.sidebar {
    background: url("/assets/img/sidebar-2.jpg");
    background-size: cover;
    overflow-x: hidden !important;
}

.sidebar-bottom {
    position: absolute !important;
    width: 100%;
}

.nav-link {
    color: white !important;
}

.filterCard {
    cursor: pointer;
}

.table td, .table th {
    text-align: center;
}

.close-container {
    text-align: right;
    padding-bottom: 10px;
}

.input-fill {
    margin: 0 !important;
    padding: 0 !important;
}
