@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    font-family: 'Noto Sans', sans-serif !important;

    font-weight: 400 !important;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #121212 !important;
    color: white;
}

.card {
    background-color: #272727 !important;
}

.card-title {
    color: white;
}

html > ::-webkit-scrollbar {
    display: none;
}

.csidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16.6%;
    background-color: #272727;
    float: left;
    background-size: cover;
    overflow-x: hidden !important;
}

.sidebar-element {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 5px 0 5px 0;
}

.sidebar-element:hover {
    background-color: #121212;
    transition: background-color 0.5s ease;
}

#custom-image {
    max-height: 70px;
    max-width: 90%;
}

.sidebar-element > a {
    display: flex;
    align-items: center;
    width: 100%;
    color: white !important;
    font-size: 18px;
    margin-left: 4%;
}

.sidebar-text {
    margin-left: 4%;
    display: flex;
    align-items: center;
}

#sidebar-nav {
    flex: 1;
}

.sidebar-bottom {
    position: absolute !important;
    width: 100%;
}

.nav-link {
    color: white !important;
}

.super-container {
    display: flex;
}

.content {
    width: 100%;
}

.content-container {
    display: flex;
    width: 100%;
    margin: 4%;
}

.filterCard {
    cursor: pointer;
}

.table td, .table th {
    text-align: center;
}

.close-container {
    text-align: right;
    padding-bottom: 10px;
}

.input-fill {
    margin: 0 !important;
    padding: 0 !important;
}

.form-control, .input-group-text, .form-check-input {
    border-color: #2e3136 !important;
    background-color: #2e3136 !important;
    color: white !important;
}

.server {
    color: white;
}

#bg-dark {
    background-color: #272727 !important;
}

#sidebar-gradient:after {
    background: #272727 !important;
}

.simple-text {
    padding: 0 !important;
}

.white {
    color: white !important;
}

.icon {
    color: white;
    float: left;
    vertical-align: middle;
    padding-right: 5px;
}

.avatar {
    width: 32px;
    height: 32px;
    display: block;
    background-size: cover;
    border-radius: 50%;
    margin-left: 5px;
    float: right;
    vertical-align: middle;
    bottom: 100%;
    top: 0;
}

.toast-header {
    background-color: #272727 !important;
    color: white !important;
}

.toast-body {
    background-color: #2e3136 !important;
    color: white !important;
}

.toast {
    border-radius: .25rem !important;
    border-color: #272727 !important;
}

#premium-ad {
    display: none;
}

.tag-content {
    min-width: 300px;
    max-width: 300px;
    word-wrap: break-word;
}

.pointer {
    cursor: pointer;
}

.modal-content {
    color: white !important;
    background-color: #272727 !important;
}

.modal-footer, .modal-header {
    border-color: #2e3136 !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    display: none;
}

/* drop down menu */
.dropdown-menu {
    background-color: #2e3136 !important;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: #2e3136 !important;
}

.bs-searchbox input {
    background-color: white !important;
    color: #2e3136 !important;
}

.dropdown-item > .text {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #272727 !important;
}

.filter-option-inner-inner {
    color: white !important;
}

.dropdown-toggle {
    border-color: #2e3136 !important;
}

.bootstrap-select .bs-ok-default:after {
    color: #2ECC71 !important;
}

.wrapper {
    z-index: 1000 !important;
}

.guild {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    width: 33%;
    background-color: #121212;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .guild {
        width: 100%;
    }
}

.guild-icon {
    height: 80px;
    background-color: #272727;
    border-radius: 50%;
    margin-left: 10px;
}

.guild-icon-fa {
    background-color: #272727;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    font-size: 60px !important;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 10px;
}

.guild-name {
    color: white !important;
    padding-left: 10px;
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#guild-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#refresh-container {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    color: white;
}