<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Servers</h4>
            {{^empty}}
              <p class="card-category">Select a server to manage below</p>
            {{/empty}}
          </div>
          <div class="card-body">
            {{#empty}}
              <p class="center-align" style="padding-top: 50px; font-size: 16px">
                You are not the admin of any guilds that the bot is in. Click below to invite the bot:
                <br />
                <a href="https://invite.ticketsbot.net">Invite</a>
              </p>
            {{/empty}}
            {{^empty}}
              <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <th>Server Name</th>
                  </thead>
                  <tbody>
                    {{#servers}}
                      <tr>
                        <td>
                          <a href="/manage/{{serverid}}/settings">
                            {{servername}}
                          </a>
                        </td>
                      </tr>
                    {{/servers}}
                  </tbody>
                </table>
              </div>
            {{/empty}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
