<div class="container">
    <div class="row">
        <div class="col s12">
            {{#if isNotAdmin}}
                <p class="center-align" style="padding-top: 50px; font-size: 16px">
                    You are not the admin of any guilds that the bot is in. Click below to invite the bot:
                    <br />
                    <a href="https://invite.ticketsbot.net">Invite</a>
                </p>
            {{else}}
                <p class="center-align" style="padding-top: 50px; font-size: 16px">
                    Select a server to manage below
                </p>

                <ul class="collection">
                    {{#each guilds}}
                        <li class="collection-item"><a href="{{baseUrl}}/manage/{{id}}/settings">{{name}}</a></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
</div>
