{{define "content"}}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Servers</h4>
                {{if .empty}}
                  <p class="card-category">Select a server to manage below</p>
                {{end}}
            </div>
            <div class="card-body">
              {{if .empty}}
                <p class="center-align" style="padding-top: 50px; font-size: 16px">
                  You are not the admin of any guilds that the bot is in. Click below to invite the bot:
                  <br/>
                  <a href="https://invite.ticketsbot.net">Invite</a>
                </p>
                {{else}}
                <div class="card-body table-responsive">
                  <table class="table table-hover table-striped">
                    <thead>
                      <th>Server Name</th>
                    </thead>
                    <tbody>
                      {{range .servers}}
                        <tr>
                          <td>
                            <a href="/manage/{{.Id}}/settings">
                              {{.Name}}
                            </a>
                          </td>
                        </tr>
                      {{end}}
                    </tbody>
                  </table>
                </div>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}