{{define "content"}}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Create A Tag</h4>
            </div>
            <div class="card-body">
              <form onsubmit="createTag(); return false;">
                <div class="row">
                  <div class="col-md-4 pr-1">
                    <div class="form-group">
                      <label class="black">Tag ID</label>
                      <input name="title" type="text" class="form-control" placeholder="My Tag" id="id">
                    </div>
                  </div>
                  <div class="col-md-8 pr-1">
                    <div class="form-group">
                      <label class="black">Tag Response</label>
                      <textarea name="content" type="text" class="form-control"
                                placeholder="Response to the tag" id="content"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2 pr-1 offset-md-5">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-fill"><i class="fas fa-paper-plane"></i> Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Tags</h4>
            </div>
            <div class="card-body">
              <table class="table table-hover table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Content</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody id="tag-container">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
      <div style="position: absolute; right: 10px" id="toast-container">
      </div>
    </div>

    <script>
      async function createTag() {
          const id = document.getElementById('id').value;

          const content = document.getElementById('content').value;

          const data = {
              id: id,
              content: content
          };

          const res = await axios.put('/api/{{.guildId}}/tags', data);

          if (res.status === 200) {
              document.getElementById('id').value = '';
              document.getElementById('content').value = '';

              appendTag(data);
          } else {
              showToast('Error', res.data.error);
          }
      }

      async function deleteTag(id) {
          const res = await axios.delete('/api/{{.guildId}}/tags/' + encodeURI(id));
          if (res.status === 200 && res.data.success) {
              const tr = document.getElementById(id);
              tr.parentNode.removeChild(tr);
          } else {
              showToast('Error', res.data.error);
          }
      }

      function appendTag(id, content) {
          const container = document.getElementById('tag-container');
          const tr = document.createElement('tr');
          tr.id = id;

          appendTd(tr, id);
          appendTd(tr, content).classList.add('tag-content');
          appendButton(tr, 'Delete', () => { deleteTag(id); });

          container.appendChild(tr);
      }

      async function loadData() {
          const res = await axios.get('/api/{{.guildId}}/tags');

          if (res.status === 200) {
              for (const [id, content] of Object.entries(res.data)) {
                  appendTag(id, content);
              }
          }
      }

      withLoadingScreen(loadData);
    </script>
  </div>
{{end}}