{{define "content"}}
  <div class="tcontent-container">
    <div class="team-card-container">
      <div class="tcard">
        <div class="tcard-title">
          <span>Support Teams</span>
        </div>
        <div class="tcard-body">
          <div class="flex-center">
            <label for="team-selection">Select a team</label>
            <select name="team-selection" style="width: 100%">
              <option value="default">Default</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}