{{define "content"}}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ticket List</h4>
          </div>
          <div class="card-body">
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Ticket ID</th>
                    <th>User</th>
                    <th>Additional Members</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody id="ticket-container">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function appendTicket(ticket) {
        const container = document.getElementById('ticket-container');
        const tr = document.createElement('tr');

        appendTd(tr, ticket.ticketId);
        appendTd(tr, `${ticket.username}#${ticket.discrim}`);

        const members = ticket.members.map(member => `${member.username}#${member.discrim}`).join(', ');
        appendTd(tr, members);

        appendButton(tr, 'View', () => { console.log(ticket); location.href = '/manage/{{.guildId}}/tickets/view/' + ticket.ticketId });

        container.appendChild(tr);
    }

    async function loadData() {
        const res = await axios.get('/api/{{.guildId}}/tickets');

        for (ticket of res.data) {
            appendTicket(ticket);
        }
    }

    loadData();
  </script>
</div>
{{end}}