@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
	font-family: 'Noto Sans', sans-serif !important;
	font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
}

body {
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
	background-color: #121212 !important;
	color: white;
	margin: 0;
	padding: 0 !important;
	box-sizing: border-box;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

code {
	color: #f9a8d4;
}
